.hoder{
	height:150px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.box1{
	background-color:green;
	width:150px;
	height:150px;
}
.box2{
	background-color:red;
	height:150px;
	width:150px;
}
.box3{
	background-color:blue;
	width:150px;
	height:150px;
}
.item{
	text-align:center;
	flex:0 0 auto;
}