.hoder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding 0 10px;
}
.item{
	flex: 1 1 auto;
	margin:10px;
	min-width:50px;
	background-color: #f0f0f0;
	padding:20px;
	text-align:center;
}
.item,first-child{
	background-color:green;
}
